#reproductor{
	display:block;
	position:absolute;
	bottom:0px;
	left:0px;
	right: 0px;
	background: #29292c;
	background: -moz-linear-gradient(top,  #29292c 0%, #232326 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29292c), color-stop(100%,#232326));
	background: -webkit-linear-gradient(top,  #29292c 0%,#232326 100%);
	background: -o-linear-gradient(top,  #29292c 0%,#232326 100%);
	background: -ms-linear-gradient(top,  #29292c 0%,#232326 100%);
	background: linear-gradient(to bottom,  #29292c 0%,#232326 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29292c', endColorstr='#232326',GradientType=0 );
	border-top:1px solid #4a4a4a;
	height:95px;
}

#sidebar{
	position:absolute;
	background-color:#2d2e33;
	margin: 0px;
	padding: 0px;
	width:220px;
	top:60px;
	bottom:95px;
	box-shadow:	inset -1px 0px 0px rgba(255,255,255,0.1),
				1px 0px 0px 0px rgba(0,0,0,0.7);
}
	#sidebar > div.nano > div.content > ul{
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
		#sidebar > div.nano > div.content > ul > li{
			background: #717a86;
			background: -moz-linear-gradient(top,  #717a86 0%, #505965 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#717a86), color-stop(100%,#505965));
			background: -webkit-linear-gradient(top,  #717a86 0%,#505965 100%);
			background: -o-linear-gradient(top,  #717a86 0%,#505965 100%);
			background: -ms-linear-gradient(top,  #717a86 0%,#505965 100%);
			background: linear-gradient(to bottom,  #717a86 0%,#505965 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#717a86', endColorstr='#505965',GradientType=0 );
			
			padding:12px 17px;
			color:#FFF;
			text-shadow:0px 1px 0px rgba(0,0,0,0.4);
			font-size:11px;
			font-weight: bold;
			
			box-shadow: inset 0px -1px 0px 0px #303237,
						inset 0px 1px 0px 0px #878e98;
						
			cursor:pointer;
		}
		#sidebar > div.nano > div.content > ul > ul{
			list-style: none;
			padding: 0px 0px;
			margin: 0px;
			background-color: #FFF;
			box-shadow:inset 0px -1px 0px 0px #51555a;

		}
			#sidebar > div.nano > div.content > ul > ul > li{
				border-bottom:1px solid #efeff0;
				/*box-shadow:0px -1px 0px 0px #efeff0;*/
			}
			#sidebar > div.nano > div.content > ul > ul:last-child{
				border-bottom:none;
			}
			#sidebar > div.nano > div.content > ul > ul > li a{
				color:#878d95;
				text-decoration: none;
				display:inline-block;
				font-size: 11px;
				width:100%;
				padding:10px 15px;
			}
#controles{
	margin:0px;
	padding:10px 10px 10px 30px;
	list-style: none;
	display: inline-block;
	float:left;
}
	#controles li{
		float:left;
		border-radius:5000px;
		padding:6px;
		margin-right: -5px;
		background: #1f1f22;
		background: -moz-linear-gradient(top,  #1f1f22 0%, #3a3b40 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f1f22), color-stop(100%,#3a3b40));
		background: -webkit-linear-gradient(top,  #1f1f22 0%,#3a3b40 100%);
		background: -o-linear-gradient(top,  #1f1f22 0%,#3a3b40 100%);
		background: -ms-linear-gradient(top,  #1f1f22 0%,#3a3b40 100%);
		background: linear-gradient(to bottom,  #1f1f22 0%,#3a3b40 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f22', endColorstr='#3a3b40',GradientType=0 );
		box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5),
					inset 0px -1px 1px rgba(255,255,255,0.1);
	}
		#controles li input{
			width:60px;
			height: 60px;
			border-radius:5000px;
			overflow:hidden;
			display:inline-block;
			color: transparent;
			background: #d9dfe4;
			background: -moz-linear-gradient(top,  #d9dfe4 0%, #9aabb9 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9dfe4), color-stop(100%,#9aabb9));
			background: -webkit-linear-gradient(top,  #d9dfe4 0%,#9aabb9 100%);
			background: -o-linear-gradient(top,  #d9dfe4 0%,#9aabb9 100%);
			background: -ms-linear-gradient(top,  #d9dfe4 0%,#9aabb9 100%);
			background: linear-gradient(to bottom,  #d9dfe4 0%,#9aabb9 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9dfe4', endColorstr='#9aabb9',GradientType=0 );
			border:none;
			box-shadow:	inset 0px -2px 3px 0px rgba(0,0,0,0.2),
						0px 2px 1px 0px rgba(0,0,0,0.2);

		}
			#controles li input:hover,
			#controles li input:focus{
				background: #e8ebee;
				background: -moz-linear-gradient(top,  #e8ebee 0%, #bfcad3 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8ebee), color-stop(100%,#bfcad3));
				background: -webkit-linear-gradient(top,  #e8ebee 0%,#bfcad3 100%);
				background: -o-linear-gradient(top,  #e8ebee 0%,#bfcad3 100%);
				background: -ms-linear-gradient(top,  #e8ebee 0%,#bfcad3 100%);
				background: linear-gradient(to bottom,  #e8ebee 0%,#bfcad3 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ebee', endColorstr='#bfcad3',GradientType=0 );
			}
			#controles li input:active{
				background: #9aabb9;
				background: -moz-linear-gradient(top,  #9aabb9 0%, #d9dfe4 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9aabb9), color-stop(100%,#d9dfe4));
				background: -webkit-linear-gradient(top,  #9aabb9 0%,#d9dfe4 100%);
				background: -o-linear-gradient(top,  #9aabb9 0%,#d9dfe4 100%);
				background: -ms-linear-gradient(top,  #9aabb9 0%,#d9dfe4 100%);
				background: linear-gradient(to bottom,  #9aabb9 0%,#d9dfe4 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9aabb9', endColorstr='#d9dfe4',GradientType=0 );
				box-shadow:	inset 0px 2px 3px 0px rgba(0,0,0,0.2),
							0px -2px 1px 0px rgba(0,0,0,0.2);
			}
		#controles li#anterior,
		#controles li#siguiente{
			margin-top:11px;
		}
		#controles li#anterior input,
		#controles li#siguiente input{
			width:40px;
			height: 40px;
		}


#display{
	color:#0c3e55;
	background-image:url(../img/bg-display.png);
	background-color:#32a3ef;
	display:inline-block;
	position:absolute;
	top:15px;
	bottom:15px;
	left:220px;
	right:20px;
	border-radius:3px;
	padding:15px;
	box-shadow:	inset 0px 0px 4px rgba(0,0,0,0.6),
				0px 0px 0px 1px rgba(0,0,0,0.7),
				0px 2px 0px 0px rgba(255,255,255,0.1),
				0px 0px 10px rgba(50,163,239,0.9);
}
	#display #titulo{
		font-family: DSDigit;
		font-size:15px;
		font-weight: bold;
	}
	#display #tiempo{	
		font-weight: bold;
		display: block;
		font-family: DSDigit;
		font-size:15px;
		position:absolute;
		top:15px;
		right: 15px;
	}
		#display #tiempo:before{
			content:"88:88";
			position:absolute;
			right:0px;
			top:0px;
			opacity:0.3;
		}

#progressbar{
	border:1px solid #185571;
	padding:1px;
	height: 10px;
	margin:9px 0px 0px;
	box-sizing: border-box;
}
	#progressbar #loaded{
		width:70%;
		background-color:rgba(23,84,112,0.3);
		height: 6px;
	}
	#progressbar #progress{
		width:60%;
		background-color:#185571;
		height: 6px;
	}